
.smv-container-main{
  height: 100vh;
  background-image: 
  linear-gradient(to bottom,
  #009688 0px,
  #009688 15vh,
  #dcdbd1 15vh,
  #dcdbd1 100%);
}


.smv-container-wa{
  width: 80%;
  height: 95%;
}

.container-top{
  height: 100px;
  background-color: #eae9ea;
}

.container-bot{
  height: calc(100% - 100px);
  width: 100%;
}

.h-100{
  height: 100%;
}

.border-right-gray{
  border-right: 1px solid lightgray;
}

.allert-container{
  background-color: #8ed9fd;
  height: 100px;
}

.width-30{
  width: 30%;
}

.width-70{
  width: 70%;
}

.fa-solid, .fa-regular{
  color: gray;
  font-size: 25px;
}

.ring-white{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

/* CHAT */
.chat-container{
  background-color: #fbfafb;
  height: calc(100% - 100px);
}

.input-container{
 width: 95%;
 height: 30px;
 background-color: white;
 border-radius: 5px;
}

.input-form{
  border: none;
  width: 90%;
}

.chat-user-container{
  background-color: white;
  width: 100%;
  height: calc(100% - 37px);
  overflow-y: auto;
}

.chat-user{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #dadbd4;
}

.chat-user:hover{
  background-color: #e8eaeb;
}

img{
  height: 70%;
  border-radius: 50%;
}

.last-message{
  width: 80%;
  overflow: hidden;
}

.float-rigth-date{
  float: right;
  color: #dadbd4;
  font-size: 15px;
}

/* COLONNA MAIN DESTRA */

.container-right{
  background-image:  url(img/mine.jpg);
  height: 100%;
}

.container-chat-right{
  height: calc(100% - 100px);
  overflow-y: auto;
}

.message{
  background-color: #fbfafb;
  border-radius: 10px;
  min-width: 40%;
  max-width: 60%;
  padding: 5px;
  clear: both;
}

.sent{
  float: right;
  background-color: #d5f8ba;
}

.received{
  float: left;
}


.message-date{
  text-align: end;
  color: grey;
  font-size: 10px;
}


.footer-right{
  height: 100px;
  background-color: #f3eee9;
}

.input-mess{
  width: 80%;
  height: 60%;
  border: none;
  border-radius: 5px;
}


/* BONUS */
.chevron-container{
  display: inline-block;
  float: right;
  position: relative;
}

.chevron-option{
  font-size: 15px;
  display: none;
  
}

.message:hover .chevron-option{
  display: inline-block;
}

.option-message{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: -180px;
}

.chevron-option:hover{
  transform: rotate(180deg);
}

.chevron-container:hover .option-message{
  display: block;
}


/* ESPERIMENTI IN PIU' */


.smv-dropdown{
  display: inline-block;
  position: relative;
}

.smv-dropdown-option{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: -100px;
  font-size: 10px;
}

.smv-dropdown:hover .smv-dropdown-option{
  display: block;
}


.dark-mode-background{
  background-color: rgb(31, 29, 29);
  color: rgb(226, 224, 224);
}

.dark-mode-background .chat-user:hover{
  background-color: rgb(39, 37, 37);
}

.dark-mode-input{
  background-color: rgb(43, 41, 41);
  color: white;
}

.dark-mode-image{
  background-image: url(img/e62925d2af795db245dffbc42e05296b.png);
}

.dark-mode-body{
  background-image: 
  linear-gradient(to bottom,
  #063b36 0px,
  #063b36 15vh,
  #353534 15vh,
  #353534 100%);
}
